<header class="page__title media">
  <h1 class="fl page__title__name">
    My Quotes
  </h1>
  <div class="fr">
    <a class="button button_primary button_inline" href="javascript:window.openQuoteEditor();">Add Quote</a>
  </div>
</header>
<section class="page__main__tabs nav-bar nav-bar_main-tabs nav-bar_sort">
  <ul class="nav">
    <li class="nav__item">
      <a class="nav__link" href="#">Relevancy</a>
    </li>
    <li class="nav__item">
      <a class="nav__link b" href="#">Likes</a>
    </li>
    <li class="nav__item">
      <a class="nav__link" href="#">Recency</a>
    </li>
  </ul>
</section>
<section class="page__main__body page__main__body_columns c">

  <div id="quotes">
    <% @quotes.each do |quote| %>
      <%= quote_tile quote %>
    <% end %>
  </div>

</section>

<section class="page__main__pagination c">
  <div id="paginator">
    <%= paginate @quotes, remote: true %>
  </div>
</section>
