.icon {
  display: inline-block;
  *display: inline;
  zoom: 1;
  width: 20px;
  height: 20px;
  position:relative;
  margin: -4px 4px 0 0;
  background-image: image-url("no-repeat.png");
  background-repeat: no-repeat;
  vertical-align: middle;
}

@media screen and (-webkit-min-device-pixel-ratio: 2) {
  .icon {
    background-image: image-url("no-repeat-2x.png");
    background-size: 160px 320px;
  }
}

.icon_fl {
  display: block;
  float: left;
}

.icon_fr {
  display: block;
  float: left;
}

.icon_inline {
  margin-top: -2px;
}

.icon_no-text {
  margin-right: 0;
  text-indent: -10000px;
}

.icon_share { margin-top: -6px; margin-right: -2px; background-position: 0 0; }
.icon_share_white { margin-top: -6px; margin-right: -2px; background-position: -20px 0; }

.icon_like { background-position: 0 -20px; }
.icon_like_white { background-position: -20px -20px; }

.icon_quote { margin-top: -6px; margin-right: -2px; background-position: 0 -40px; }
.icon_quote_white { margin-top: -6px; margin-right: -2px; background-position: -20px -40px; }

.icon_tag { background-position: 0 -60px; }
.icon_tag_white { background-position: -20px -60px; }

.icon_user { background-position: 0 -80px; }
.icon_user_white { background-position: -20px -80px; }

.icon_edit { background-position: 0 -100px; }
.icon_edit_white { background-position: -20px -100px; }

.icon_close { background-position: 0 -120px; }
.icon_close_white { background-position: -20px -120px; }

.icon_next { background-position: 0 -140px; }
.icon_next_white { background-position: -20px -140px; }
.icon_next_special { background-position: -40px -140px; }

.icon_prev { background-position: 0 -160px; }
.icon_prev_white { background-position: -20px -160px; }
.icon_prev_special { background-position: -40px -160px; }

.icon_big-bin {display: block; height: 60px; width: 60px; background-position: -98px 0;}
.icon_big-heart {display: block; height: 60px; width: 60px; background-position: -98px -60px;}
.icon_big-tag {display: block; height: 60px; width: 60px; background-position: -98px -120px;}


.state_active {
  .icon_cover {@extend .icon_cover_black;}
  .icon_grid {@extend .icon_grid_black;}
  .icon_list {@extend .icon_list_black;}
}