<section class="page__main__tabs nav-bar nav-bar_main-tabs">
  <ul class="nav">
    <li class="nav__item">
      <a class="nav__link b" href="/">Top Quotes</a>
    </li>
    <li class="nav__item">
      <a class="nav__link" href="/recent">Recent Quotes</a>
    </li>
  </ul>
</section>
<% if signed_in?(:user) -%>
<% else -%>
<section class="page__main__body">
  <div class="g g_full">
    <article class="box">
      <header class="box__header">
        <h1 class="font_proxima normal b">Welcome to Quote Bin</h1>
        <h3 class="font_proxima micro opacity_5 b mtm">You've come to the easiest place to find and document quotes.</h3>
      </header>
      <div class="box__body">
        <div class="c c_nested">
          <div class="g g_1of3 g_tpfull">
            <article class="media media_onboarding">
              <div class="media__block">
                <i class="icon icon_big-bin"></i>
              </div>
              <div class="media__content">
                Sign up to add &amp; save your favorite quotes.
              </div>
            </article>
          </div>
          <div class="g g_1of3 g_tpfull">
            <article class="media media_onboarding">
              <div class="media__block">
                <i class="icon icon_big-tag"></i>
              </div>
              <div class="media__content">
                Stay up to date by following tags &amp; people.
              </div>
            </article>
          </div>
          <div class="g g_1of3 g_tpfull">
            <article class="media media_onboarding">
              <div class="media__block">
                <i class="icon icon_big-heart"></i>
              </div>
              <div class="media__content">
                Find new love. Hot, steamy idea love.
              </div>
            </article>
          </div>
        </div>
      </div>
    </article>
  </section>
</section>
<% end -%>

<section class="page__main__body page__main__body_columns c">

  <div id="quotes">
    <% quotes.each do |quote| %>
      <%= quote_tile quote %>
    <% end %>
  </div>

</section>

<section class="page__main__pagination c">
  <div id="paginator">
    <%= paginate quotes, remote: true %>
  </div>
</section>
