<section class="page__main__tabs nav-bar nav-bar_main-tabs">
  <ul class="nav">
    <li class="nav__item">
      <a class="nav__link b" href="#">Top Quotes</a>
    </li>
    <li class="nav__item">
      <a class="nav__link" href="#">Recent Quotes</a>
    </li>
  </ul>
</section>

<section class="page__main__body page__main__body_columns c">

  <div id="quotes">
    <% quotes.each do |quote| %>
      <%= quote_tile quote %>
    <% end %>
  </div>

</section>

<section class="page__main__pagination c">
  <div id="paginator">
    <%= paginate quotes, remote: true %>
  </div>
</section>
