.box {
  @include border-radius(4px);
  background: #fff;
}
  .box__header{padding:24px 24px 0;}
  .box__body{padding:24px;@extend .cf;}
  .box__footer{
    padding:24px;
    border-top: 1px solid #ccc;
    @extend .cf;
  }

.box_stat {
  padding: 0;
  display: block;
  text-align: center;
  @extend .font_proxima;
  font-weight: bold;
  font-size: 0.85em;
  color: #333;
  letter-spacing: 0 !important;
  .box__header {
    padding: 20px 0 0 0;
    display: block;
    font-size: 2em;
    line-height: 1em;
  }
  .box__footer {
    padding: 12px 0;
    line-height: 1em;
    font-weight: normal;
    display: block;
  }
  &.state_active {
    color: #fff;
    background: #32a371;
  }
}

.box_register {
  margin: 0 auto;
  margin-top: .857em;
  width: 300px;
}

.box_register__footer__links {
  a {display: block; line-height: 15px; font-size: .85em; height: 15px;}
}



@media screen and (max-width: 1100px) {
  .box_stat_collpase {margin-left: 0; height: 26px; line-height: 26px; margin-bottom: 1px; float: none; width: auto;}
  .box_stat_collpase{ .box__header, .box__footer {display: inline; font-size: 1em;} }
}

@media screen and (max-width: 950px) {
  .quote-tile__contributor__info {margin-bottom: 12px;}
}