.page {
  position: relative;
}

.page__branding {
  display: block;
  height: 50px;
  line-height: 50px;
  background: #32a371;
  padding: 0 1.714em;
  border-bottom: 1px solid #1f8c5c;
}

.page__user-button {
  display: none;
  background: #37aa77;
  float: right;
  width: 50px;
  height: 50px;
  color: #fff;
  text-align: center;
  line-height: 50px;
  border-bottom: 1px solid #1f8c5c;
  .icon {margin: 0;}
  &:after {
    content:"\25BC";
    display: inline-block; 
    top: -1px;
    position:relative;
    font-size: 8px;
  }
  &.state_active{
    border-bottom: 1px solid #37aa77;
    &:after { 
      top: -3px;
      -moz-transform:rotate(180deg);
      -webkit-transform:rotate(180deg);
      transform:rotate(180deg);
    }
  }
}

.page__logo {
  border: none;
  color: #fff;
  font-size: 1.4em;
  @extend .font_abril;
  &:hover {color: #fff; opacity: .7;}
}

.page__body{
  @extend .cf;
  padding-top:40px;
}

.page__header {
  .page__sidebar {
    top: 0;
  }
}

.page__sidebar{
  top: 50px;
  position: fixed;
  height: 100%;
  width: 240px;
  background: #3fb581;
  color: #fff;
}

.page__sidebar__content {
  padding: 1.714em;
}

.page__main {
  position: relative;
}

.page_content {
  position: relative;
  padding-bottom: 100px;
}

.page__title {
  font-weight: bold;
  height: 50px;
  position: relative;
  line-height: 50px;
  background: #fff;
  z-index: 0;
  padding: 0 10px 0 1.714em;
  @extend .font_proxima;
  border-bottom: 1px dashed #ddd;
  margin: 0 -0.857em;
  overflow: hidden;
  .page__title__name {
    font-size: 1.28em;
  }
}

.page__wrapper{
  @extend .cf;
  z-index: 1;
  position: relative;
}

.page__wrapper_grid-view {
  max-width: 100%;
}

@media screen and (max-width: 600px) {
  .page__wrapper { padding: 0 .9em;}
}

.page__main {
  margin-left: 240px;
  padding-left: 0.857em;
  padding-right: 0.857em;
}

.page__main__header {
  margin: 0 -0.857em;
}

.page__search {
  z-index: 1;
  position: relative;
  @extend .media__content;
}

.page__search_logged-out .ui-autocomplete .ui-menu-item:last-child {
  display: none;
}

.page__main__pagination {
  left: 240px;
  right: 0;
  position: fixed;
  bottom: 0;
  background: #f3f3f3;
  border-top: 2px solid #ddd;
  background: rgba(255,255,255,.9);
  z-index: 1;
}

.page__main__body {
  width: 100%;
  padding: 0.857em 0;
}

.page__main__body_columns {
  @include columns(auto 2);
  @include column-gap(0);
}

@media screen and (max-width: 1000px) {
  .page__main__body_columns {
    @include columns(auto auto);  
  }
}

@media screen and (min-width: 1400px) {
  .page__main__body_columns {
    @include columns(auto 3);  
  }
}

@media screen and (min-width: 2300px) {
  .page__main__body_columns {
    @include columns(auto 4);  
  }
}

@media screen and (max-width: 780px) and (min-width: 720px) {
  .page__main__body_columns {
    @include columns(auto 2);  
  }
}

@media screen and (max-width: 780px) {
  .page__header {
    height: 50px;
    .page__sidebar {width: 50px;}
    .page__main {margin-left: 50px;}
    .icon__logo {width: 26px;}
    .ui-autocomplete {
      position: absolute;
      left: 0;
      right: 0;
    }
    .page__search.state_active {
      display: block;
      width: auto;
      position: absolute;
      top: 0;
      left: -50px;
      right: 0;
      margin: 0;
      z-index: 3;
    }
  }
  .page__title {
    margin: 0;
  }
  .page__sidebar {
    top: 0;
    position: relative;
    height: auto;
    float: none;
    width: auto;
  }
  .page__sidebar__content {
    display: none;
  }
  .page__main__pagination {
    left: 0;
    margin: 0;
  }
  .page__logo {
    display: inline-block;
  }
  .page__main {
    margin-left: 0;
  }
  .page__user-button {
    display: block;
  }
  .page__branding {position: absolute; padding: 0 .857em;}
  .page__title {
    padding-left: 10px;
    margin: 0 -.857em;
  }
}

@media screen and (max-width: 720px) {
  .page__main {padding: 0;}
  .page__main__header {margin: 0;}
  .page__main__body {
    padding: 0;
  }
  .page__main__pagination {
    position: relative;
    left: auto;
    right: auto;
    bottom: auto;
    margin: 0;
  }
  .page__title {
    margin: 0;
  }
}