.pagination {
  text-align: center;
  display: block;
  margin: 12px 24px;
}

.pagination .pagination__item {
  margin: 0 6px;
  @extend .button;
  @extend .button_inline;
  @extend .button_square;
  a {
    display: block;
  }
}

.pagination {
  .current {
    @extend .button_primary;
  }

  .gap {
    color: #777;
    opacity: .5;
  }
  .next, .prev {
    a {
      display: inline-block;
      overflow: hidden;
      @extend .icon;
      @extend .icon_no-text;
    }
  }
  .next a {@extend .icon_next_special;}
  .prev a {@extend .icon_prev_special;}
}

@media screen and (max-width: 720px) {
  .pagination {
    margin: 12px 6px;
    .pagination__item {
      margin: 0 3px;
    }
  }
}