.quote-tile {
  padding: .857em;
  @include column-break-inside(avoid);
}

@media screen and (max-width: 720px) {
  .quote-tile{
    padding: 0;
    margin: 1px -.857em;
    @include border-radius(0);}
}


.quote-tile__body{
  position: relative;
  background: #fff;
  @include border-radius(4px);
  padding: 1.714em;
  color: #aaa;
}

.quote-tile__header {
  text-transform: uppercase;
  font-size: 0.85em;
  letter-spacing: 2px;
  line-height: 1em;
  @extend .cf;
  padding-right: 102px;
}

.quote-tile__actions {
  position: absolute;
  top: 12px;
  right: 12px;
  width: 90px;
}

.quote-tile__title {
  position: relative;
  display: block;
  margin: 16px 0;
  color: #333;
  font-size: 1.42em;
  line-height: 1.4em;
  @include hyphens(auto);
  ul {
    margin-left: 3em;
    li {list-style: disc;}
  }
  ol {
    margin-left: 3em;
    li {list-style: decimal;}
  }
  em {font-style: italic;}
  strong {font-weight: bold;}
  ol, ul, p {
    margin-bottom: .5em;
    &:last-child {margin-bottom: 0;}
  }
  p:first-child {&:before { content: open-quote; }}
  p:last-child {&:after { content: close-quote; }}
}

.quote-tile__footer {
  text-transform: uppercase;
  font-size: 0.85em;
  letter-spacing: 2px;
  @extend .font_proxima;
  line-height: 1.5em;
}

.quote-tile__author {
  display: block;
  font-weight: bold;
  color: #333;
}

.quote-tile__source {
  display: block;
  color: #aaa;
}

.quote-tile__contributor {
  float: left;
  margin-top: 1.714em;
}

.quote-tile__contributor__info{
  float: left;
  width: 50%;
  margin: .857em 0;
}

.quote-tile__contributor__name{
  @extend .media__content;
}

.quote-tile__contributor__name__header {
  display: block;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.85em;
  line-height: 1em;
  opacity: .5;
}

.quote-tile__contributor__name__body {
  display: block;
  @extend .font_proxima;
  font-weight: bold;
}

.quote-tile__contributor__name__action {
  margin-top: 20px;
  width: 150px;
}

.quote-tile__contributor__metadata {
  width: 50%;
  float: right;
}

.quote-tile__contributor__metadata__item {
  height: 80px;
  width: 80px;
  margin-left: 24px;
}

@media screen and (max-width: 1100px) {
  .quote-tile__contributor__metadata__item {margin-left: 0; height: 25px; line-height: 25px; margin-bottom: 1px; float: none; width: auto;}
}

@media screen and (max-width: 950px) {
  .quote-tile__contributor__info {margin-bottom: 12px;}
  .quote-tile__contributor__info, .quote-tile__contributor__metadata {
    float: none; width: auto;
  }
}

.quote-tile_large {
  padding: 6.856em;
  .quote-tile__title {
    font-size: 3em;
  }
  .quote-tile__title_size_normal{
    font-size: 1.42em;
  }
  .quote-tile__header, .quote-tile__footer {
    font-size: 1em;
  }
  .quote-tile__header {
    padding-right: 102px;
  }
  .quote-tile__actions {
    width: 90px;
  }
}

@media screen and (max-width: 720px) {
  .quote-tile_large {
    padding: 1.714em;
    .quote-tile__title {
      font-size: 1.42em;
    }
    .quote-tile__header, .quote-tile__footer {
    font-size: 0.85em;
    }
  }
}

.quote-tile_edit {
  .quote-tile__actions {
    width: 90px;
  }
}